@mixin list-unstyled{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
@mixin link-unstyled{
    text-decoration: none;
    background-color: transparent;
}
@mixin button($color:#00f,$bg:#000){
    padding: 12px 20px;
    font-family:$font-Family;
    color: $color;
    background-color: $bg;
    border: 1px solid $bg;
    border-radius: 10px;
}
